.links{
    display: flex;
    flex-direction: column; 
    background-color: #43c0f6;
    width: 800px;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-right: 0PX;
}
.links-collapsed{
    display: flex;
    flex-direction: column; 
    background-color: #43c0f6;
    width: 300px;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-right: 0PX;
}
.link-contents{
    display: flex;
    flex-direction: column;
}
.link-profile{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 0px 50px 0px;
}
.link-item{
    display: flex;
    padding: 10px;
    align-items: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.link-item-collapsed{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.link-item:hover{
    color: black;
    background-color: #b2e4fa;
}
.link-item img{
    color: white;
    padding: 10px;
    font-weight: bold;
}
.link-bottom-buttons{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-weight: bold;
    color: white; 
}
.link-bottom-buttons-collapsed div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-bottom-buttons-collapsed{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    font-weight: bold;
    color: white;
}
.link-bottom-buttons-collapsed div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;

}
.link-bottom-buttons div{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.link-bottom-buttons div img{
    padding-bottom: 10px;
}
.collapse-button-right{
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.collapse-button-left{
    display: flex;
    justify-content: flex-start;
    padding-top: 60px;
}
.arrow-box-right{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b2e4fa;
    width: 70px;
    height: 70px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.arrow-box-right .arrow-left{
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right: 15px solid #f91c85;
}
  .arrow-box-left{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b2e4fa;
    width: 70px;
    height: 70px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.arrow-box-left .arrow-right{
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-left: 15px solid #f91c85;
}
